<h1>There are <%= @players.count %> players in our league</h1>

<table>
  <thead>
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
    <tr>
      <td><%= player.first_name %></td>
      <td><%= player.last_name %></td></td>
      <td>
        <%= link_to "Show", player_path(player.id)%> | 
        <%= link_to "Edit", player_edit_path(player.id)%> | 
        <%= link_to "Delete", player_path(player.id), data: {method: "delete", confirm: "Are you sure?"}%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%# <a href="players/new">Create New Player</a> %>

<%= link_to "Create New Player", players_new_path%>